.EditableList {
  .el-contents {
    display: flex;
    flex-direction: column;
    margin: $padding 0px;

    .el-value-remove {
      .Icon {
        justify-content: unset;
      }
    }

    .el-item {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: $padding $padding * 2;
      margin-bottom: $padding / 4;
      backdrop-filter: brightness(0.75);
      border-radius: var(--border-radius);

      :last-child {
        margin-bottom: unset;
      }

      :first-child {
        align-self: center;
      }
    }
  }
}
